# dependencies
node_modules
.pnpm-store

# next.js
.next/
out/
**/.next/

# production
/build
dist/
**/dist/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo

# local study docs
docs/

# prisma
**/prisma/*.db
**/prisma/*.db-journal

# OS
.DS_Store
Thumbs.db
